<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/inicio.css">
    <title>Clube do Filme</title>
</head>
    <body>
        <header>
            <img src="../images/inicio/action.png">
            <form class="entrar" action="/entrar" method="get">
            <button href="entre"> Entrar</button>
            </form>
        </header>
<main>
    

    <div class="secao2">
        <div class="image1"><img src="../images/inicio/batman.jfif" width="100%" height="100%"></div>
        
        <div class="p1">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vitae, excepturi molestiae sint quaerat voluptatum enim consequatur veritatis! Adipisci at placeat sequi nulla fuga tenetur, vitae accusamus maiores velit! Saepe!</p>
        </div>
        
    </div>

    <div class="box-secao3">

        <div class="oscar">Assista aqui os filmes indicados ao Oscar!</div>
       
            <div class="box-destaque2"><img src="../images/inicio/destaque2.jfif"> </div>
            <div class="box-destaque3"><img src="../images/inicio/destaque3.jfif"> </div>
            <div class="box-destaque4"><img src="../images/inicio/destaque4.jfif"> </div>
            <div class="box-destaque5"><img src="../images/inicio/destaque5.jfif"> </div>
        
    </div>

    <div class="secao4">
        <div class="p2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non autem provident ea molestiae, neque, distinctio minus, adipisci nisi tempore voluptatum ipsum error vero rem dolorum aut quos repudiandae commodi impedit?</p>
        </div>

        <div class="image2">
            <img src="../images/inicio/estranho2.jfif">
        </div>    
        
    </div>


    </main>
    </body>

    <footer>
        <div class="contato"> Fale conosco </div>
    </footer>
    </html>

