<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/movieList.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>    
    <%- include('partials/navbar') %>
    <main>        
        <!-- https://www.youtube.com/watch?v=XXUEFueOsAs -->
        <section class="galery">
            <div class="fotos">
                <a href="#"><img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="Foto 1"></a>
                <a href="#"></a><img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="Foto 2"></a>
                <a href="#"></a><img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Sonic-O-filme-768x1076.webp" alt="Foto 3"></a>
                <a href="#"></a><img src="https://cdn.xxl.thumbs.canstockphoto.com.br/pipoca-filme-3d-c%C3%A3o-%C3%B3culos-banco-de-fotos_csp12290032.jpg" alt="Foto 4"></a>
                <a href="#"></a><img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="Foto 1"></a>
            </div>
        </section>

        <!-- tutorial utilizado como base: -->
        <!-- https://www.devmedia.com.br/como-criar-um-slider-com-css-e-html/37787 -->
        <div class="section-filmes">  
            <!-- Para adicionar nova categoria, copiar bloco abaixo e alterar name, id e label for -->
            <!-- categoria 1-->
            <div class="container-categoria">
                <h3>Categoria X</h3>
                <ul class="slider">
                    <li>
                        <input type="radio" id="categ1-slide1" name="categ1" checked>
                        <label for="categ1-slide1"></label>                        
                        <div class="box-filme-lista">                            
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Sonic-O-filme-768x1076.webp" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                        </div>                        
                    </li>
                    <li>
                        <input type="radio" id="categ1-slide2" name="categ1">
                        <label for="categ1-slide2"></label>
                        <div class="box-filme-lista">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Sonic-O-filme-768x1076.webp" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="categ1-slide3" name="categ1">
                        <label for="categ1-slide3"></label>
                        <div class="box-filme-lista">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Fim categoria 1   -->
            
            <!-- categoria 2-->
            <div class="container-categoria">
                <h3>Categoria X</h3>
                <ul class="slider">
                    <li>
                        <input type="radio" id="categ2-slide1" name="categ2" checked>
                        <label for="categ2-slide1"></label>                        
                        <div class="box-filme-lista">                            
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Sonic-O-filme-768x1076.webp" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                        </div>                        
                    </li>
                    <li>
                        <input type="radio" id="categ2-slide2" name="categ2">
                        <label for="categ2-slide2"></label>
                        <div class="box-filme-lista">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Sonic-O-filme-768x1076.webp" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="categ2-slide3" name="categ2">
                        <label for="categ2-slide3"></label>
                        <div class="box-filme-lista">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <!-- categoria 3-->
            <div class="container-categoria">
                <h3>Categoria X</h3>
                <ul class="slider">
                    <li>
                        <input type="radio" id="categ3-slide1" name="categ3" checked>
                        <label for="categ3-slide1"></label>                        
                        <div class="box-filme-lista">                            
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Sonic-O-filme-768x1076.webp" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                        </div>                        
                    </li>
                    <li>
                        <input type="radio" id="categ3-slide2" name="categ3">
                        <label for="categ3-slide2"></label>
                        <div class="box-filme-lista">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Sonic-O-filme-768x1076.webp" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                        </div>
                    </li>
                    <li>
                        <input type="radio" id="categ3-slide3" name="categ3">
                        <label for="categ3-slide3"></label>
                        <div class="box-filme-lista">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/04/Cavaleiro-da-Lua-Serie-768x960.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Spiderhead-Filme-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/Imperio-da-Ostentacao-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                            <img src="https://seuladogeek.com.br/wp-content/uploads/2022/05/De-Volta-a-Terra-Serie-768x1075.jpg" alt="">
                        </div>
                    </li>
                </ul>
            </div>


        </div>                
    </main>    
        
</body>
</html>