<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/userRegisterForm.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Clube do Filme</title>
</head>
    <body>
        <%- include('partials/navbar') %>
<main>
        <div id="login">

            <form class="card" action="/user/register" method="POST">

                <div class="card-header">

                    <h2>Cadastro</h2>

                </div>

                <div class="card-content">

                    <div class="card-content-area">

                        <label for="usuario">Nome</label>

                        <input type="text" id="usuario" name="usuario" autocomplete="off">

                        
                        <label for="usuario">Email</label>

                        <input type="email" id="usuario" name="email" autocomplete="off">

                    </div>

                    <div class="card-content-area">

                        <label for="password">Senha</label>

                        <input type="password" id="password" name="senha" autocomplete="off">

                        <label for="password">Confirmar Senha</label>

                        <input type="password" id="password" name="confirmaSenha" autocomplete="off">

                    </div>

                </div>

                <div class="card-footer">

                    <button class="enviar" type="submit">
    
                        <!-- <a href="#">CRIAR CADASTRO</a> -->
                        CRIAR CADASTRO
                    </button>                  

                   

                </div>

            </form>

        </div>
    </main>
    </body>
    </html>