<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/userLoginForm.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login Clube do Filme</title>
</head>
    <body>
        <%- include('partials/navbar') %>
<main>
        <div id="login">

            <div class="card">

                <div class="card-header">

                    <h2>Sign In</h2>

                </div>

                <div class="card-content">
                    <form action="/user/login" method="POST">
                    <div class="card-content-area">

                        <label for="usuario">Usuário</label>

                        <input type="text" id="usuario" autocomplete="off">

                    </div>

                    <div class="card-content-area">

                        <label for="password">Senha</label>

                        <input type="password" id="password" autocomplete="off">

                    </div>
                   
                        <button class="entrar" type="submit" name="entrar">
                            <p href="#">Clique aqui para entrar</p>
                        </button>
                        
                    </form>
    
                </div>

            <div class="card-footer">
                  
                    <form action="/recuperar" method="get">
                     <button type="submit">
                          <a>Esqueceu a senha?</a>
                     </button>
                    </form>

                    <form action="/user/register" method="get">
                        <button type="submit">
                            <a>Nao tem cadastro?</a>
                        </button>
                     </form>
            </div>

        </div>

        </div>
    </main>
    </body>
    </html>