<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/userLoginForm.css">
    <title>Login</title>
</head>
    <body>
        <header>
            <%- include('partials/header') %>
        </header>
 <section class="body-entrar">    
<main class="card-area">

           
                <div class="titulo">

                    <h2>Login</h2>

                </div>
                <form action="/user/login" method="post">
                    <div class="card-inputs">       
                        <label for="email">Email</label>

                        <input class="email" type="email" id="email" autocomplete="off" name="email" >
                        <% if(typeof errors !== 'undefined'){%>
                        <ul>
                            <%  for(let error in errors) { %>
                                <br>
                                <b><%= error %></b>
                                <li><%= errors[error].msg %></li>
                            <% } %>
                        </ul>
                        <% } %>
                        <label for="password">Senha</label>

                        <input class="senha" type="password" id="password" autocomplete="off" name="senha1">
                    </div>
                    <div class="check">
                    <input type="checkbox" name="remember_user">
                    <label for="remember_user"><b>Manter-se conectado</b></label>
                 </div>
                        <div class="div-entrar">
                        
                        <button class="btn-entrar" type="submit">
                            ENTRAR
                        </button>
                        </div>
                 </form>
    
                

            <div class="card-footer">
                  
                    <form action="/user/recuperar" method="get">
                     <button class="recuperar" type="submit">
                          Recuperar senha?
                     </button>
                    </form>

                    <form action="/user/register" method="get">
                        <button class="registrar" type="submit">
                            Registre-se
                        </button>
                     </form>
            </div>

    
    </main>
</section>   
    </body>
    </html>