<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/userRegisterForm.css">
    <title>Login</title>
</head>
    <body>
       
        <header>
            <%- include('partials/header') %>
        </header>
 <section class="body-entrar">    
    <main class="card-area">
      
                <div class="titulo">

                    <h2>Cadastro</h2>

                </div>
                
                <form action="/user/register"  method="post"                enctype="multipart/form-data">
                <div class="card-inputs">
                  
                  
                
                    <label for="usuario">Usuario</label>
                    <input class="usuario" type="text" name="nome" autocomplete="off">

                        <label for="email">Email</label>

                        <input class="email" type="email" name="email" autocomplete="off">

                        <label for="password">Senha</label>

                        <input class="senha" type="password" name="senha1" autocomplete="off">

                        <label for="password2">Confirmar Senha</label>

                        <input class="senha2" type="password" name="senha2"  autocomplete="off">
                        
                        <label  for="foto">Foto de Perfil</label>

                        <input class="form-control" type="file" name="avatar"  autocomplete="off">
                    </div>
                        <div class="div-cadastrar">
                        <button class="btn-cadastrar" type="submit">
                            CADASTRAR
                        </button>
                        </div>
                    
               
                    
               
                 </form>
    
                

            

    
    </main>
</section>   
    </body>
    </html>