<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/userProfile.css">
    <title>Profile</title>
</head>
    <body>
       
        <header>
            <%- include('partials/header') %>
        </header>

        <div class="areaProfile">
            <div class="areaItems">
                <div class="img-avatar">
                    <img src="../profile/<%= userLogged.avatar %>"/>
                </div>
                <div class="dados">
                    <h2><%= userLogged.nome %></h2>
                    <h2><%= userLogged.email %></h2>
                </div>
            </div>
        </div>
        </body>
 