.header{
    display:flex;
    align-items: center;
    background-color: black; /*add Heber*/

    /*inclusão - cópia do Body de Movie Detail*/
    margin: 0 auto;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}

.logo img{
    width: 100%;
}

.menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu-left,
.menu-right{
    display: flex;
    color: #ff9000;
    font-size: 0.87rem;
}

.menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li{
    padding-right: 0.9rem;
}

.menu .user img{
    width: 2rem;
    margin-right: 0.5rem;
}

.menu .user{
    display: flex;
    align-items: center;
}

.menu i{
    font-size: 20px;
}

.menu-right ul li{
    padding-right: 1.5rem;
}