* {
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
   
}




.body-entrar {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: 86vh;
    padding-top: 50px;
    align-items: center;
    background-color: #d11149;

}

.check {
    padding-top: 30px;
}
.check label {
    font-size: 10px;
}

.card-area {
    
    display: flex ;
    flex-direction: column;
   background:  #000000;
    width: 400px;
    height: 500px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;

    
}




.titulo {
    display: flex;
    width: 100%;
    padding-left:50px ;
    font-size: 20px;

     
}


.card-inputs {
    display: flex;

    flex-direction: column;
    width: 100%;
    font: 16px;
}





.card-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.email {
    width: 330px;
    padding: 5px;
    height: 35px;
    color: #000000;
    border-radius: 10px;
    font-size: 20px;
}

.senha {
    width: 330px;
    height: 35px;
    padding: 5px;
    color: #000000;
    border-radius: 10px;
    font-size: 20px;
}

label {
    padding-top: 20px;
    font-size: 25px;

}

.div-entrar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    
    
}

.btn-entrar {
    
    background: #d11149;
    border-radius: 5px;
    width: 80PX;
    height: 40PX;
    cursor: pointer;
    color:#fff;
}

.recuperar {
   background: #000000;
    border: 0;
    width: 70PX;
    height: 40PX;
    color: #fff;
    cursor: pointer;
}

.registrar {
   background: #000000;
    border: 0;
    width: 70PX;
    height: 40PX;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 900px) {
    .card-area {
        
        width: 80vw;
    
  
    
        
    }

    .email {
        padding: 2px;
        width: 70vw;
        font-size: 16px;
    }
    
    .senha {
        padding: 2px;
        width: 70vw;
        font-size: 16px;

    }
    .card-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        font: 16px;
    }
    
}